* {
  box-sizing: border-box;
}
body{
  margin: auto;
  padding: 1em;
  font-family: sans-serif;
  color: black;
  /*background: url("./images/echospot.jpg") no-repeat center center fixed;*/
}
#root{
  margin: 0;
  padding: 0;
  position: absolute;
}
#root p{
  margin: 1em;
  z-index: 1;
}
#root div{
  background-color: white;
  text-align: center;
}
video, canvas{
  margin: 0;
  padding: 0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
